@{
    ViewData["Title"] = "Home Page";
}


@if (User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>

    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Выход" />
    </form>
}
else
{
    <button type="button" class="btn btn-primary">Главный</button>
    <a class="btn" asp-controller="Account" asp-action="Login">Вход</a>
    <a class="btn" asp-controller="Account" asp-action="Register">Регистрация</a>
}